


a.fancybox img:hover {
    
 cursor: url(../images/zoom.png), auto;   
}
/*////////////////////////////////////////////// 
Type, Color, General Styling 
///////////////////////////////////////////////*/

* {

box-sizing: border-box;
/*font-family: 'Istok Web', sans-serif;*/
/*    border: 1px solid red;*/
    font-family: 'Whitney SSm A', 'Whitney SSm B';
/*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
 
img{
 width: 100%;   
}

.first::first-line {
 font-weight: bold; 
    color: black;
}


footer {
padding: 3px;
text-align: center;
font-size: .7em;
color: grey;
}

.dollar {
font-size: .65em;   
vertical-align: super;
}

.each {
font-size: .65em;
}
/*

#work {
margin-top: 105vh;  
}
*/

.text-intro {
font-size: 1.1em;
line-height: 1.65;
    
}



/*////////////////////////////////////////////// 
Navigation and Links Styling
///////////////////////////////////////////////*/


.top-nav {

width: 100%;
z-index: 5000;
  background: hsla(360, 100%, 100%, .9); 
/*     margin-top: -838px;*/
}

.top-list {
display: -webkit-flex;
display: flex;
width: 95%;
align-items: center;
-webkit-align-items: center;
margin: 0 auto;


}

.top-list li {
 margin: 0 .75em; 
}

.small-caps {
  font-variant: small-caps; 
    font-weight: 400;
}

.top-list li:first-child {  
padding: .5em 0px;
margin-left: -1.75em;
margin-right: auto;
}


#arrow, #contact {
height: 20px;
width: 20px;
margin: 0;
    padding: 0;
}



a {
text-decoration: none;  
color: black;  
}

.intro-title {
font-size: 1.5em; 
     font-weight: 400;
}

/*DROP DOWN MENU*/

.dropdown {
position: relative;
}
.drop-nav {
position: absolute;
display: none;
background: white;
padding: 2px 0;
margin-left: -3.5em;
width: 8.5em;
border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.drop-nav li:first-child {
margin-right: auto;  
padding: 0px;
margin-left: 0;

}
/*

.drop-nav li:last-child a {
 color: grey;   
}

.drop-nav li:last-child a:hover {
border-bottom: 2px solid grey;   
}
*/

.italics {
 font-style: italic;
    font-size: .85em;
}

.drop-nav li {
margin: 10px 0 10px 10px;
    text-align: left;
}

.dropdown:hover > .drop-nav {
margin-top: 1px;
border-top-left-radius: 0px;
display:block;
z-index: 3000;
}

.top-nav li a:hover  {
border-bottom: 2px solid black;   
}

/*
.grey {
 color: grey;   
}
*/

/*////////////////////////////////////////////// 
Opening Work Section
///////////////////////////////////////////////*/

#intro-cover {
margin: 0;
width: 100%;
height: 100vh;
background: url(../images/Study%20in%20Red.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}


#intro-container {
position: absolute;
margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
width: 100%;
height: 120px;
/*border: 1px solid red; */
  padding: .4em;
/*
   background: hsla(360, 100%, 100%, .4); 
    border-radius: 4px;
*/
}

header {
 padding: 0;   
}

header h1 {
 text-align: center;
  margin-bottom: 0;
    padding: 0;
    font-size: 4em;
        font-weight: 200;
    letter-spacing: .02em;
    color: white;
   text-shadow: 1px 1px 1px rgba(79, 79, 79, .75);
}

.mask { 
height: 1px; 
margin: 2.5em auto;
width:75%; 
border-radius: 1px;
border-bottom: 1px solid #BCBCBC;
}

#clickMe {
width: 90%;
max-width: 700px;
margin: 1em auto;
cursor: url(../images/right-arrow-white.png), auto;
}



/*////////////////////////////////////////////// 
Layout - Sections, Articles, Gallery
///////////////////////////////////////////////*/

/*//////////////////////////////////////////////
////////////////////////////////////////////////

SECTION BREAK _ IMAGES

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.cover {
margin: 0 auto;
width: 100%;
background: #FCFCFC;
padding: 5em 0;
    }
    

.image-b, .cover-description {
 width: 90%;   
max-width: 800px;

}
.cover-description {
 margin: 0 auto;   
}

.image-b {
margin: 0 auto -1.5em auto;  
}


.art-email {
width: 1.35em;
height: 1.35em;
vertical-align: middle;
margin: 0;
margin-right: 6px;
    display: inline;
/*
display: inline-flex;
display: -webkit-inline-flex
align-self: baseline;
-webkit-align-self: baseline;
*/
}

.social {
    margin: 0 6px;
}

.s-fix {
 margin-right: 0;   
}


.flex-d {
display: flex;
display: -webkit-flex;
align-items: center;
-webkit-align-items: center;
justify-content: space-between;
-webkit-justify-content: space-between;
}


.flex-d h4 {
 font-size: 1.5em;
    margin: 0;
    font-weight: 300;
}

.price {
 font-size: 1.5em; 
margin-top: .85em;
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.number {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.price-d {
   font-size: 1.5em; 
      font-weight: 300;
text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.description {
width: 100%;
max-width: 405px; 
margin: -2.25em 0 -.5em 0;
padding: 0;
color: grey;
font-size: 1em;
font-weight: 300;
}

.description2 {
width: 90%;
max-width: 405px; 
margin: 0 auto;
padding: 0;
color: grey;
font-size: 1em; 
    font-weight: 300;
}

.email-price {
 font-size: .9em;
    font-style: italic;
    display: -webkit-inline-flex;
display: inline-flex;
    vertical-align: middle;
    color: grey;

    margin: .1em;
    text-align: center;
}

/*
.georgia {
font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;

}
*/

.flex-d a:hover  {
border-bottom: 1px solid grey;   
}

/*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.gallery {
    margin: 0 auto;
padding: 5em 0;
width: 90%;
max-width: 1250px;
}

.gallery-intro {
 margin: 0 auto 0 auto;
    width: 90%;
    max-width: 1250px;
}

#gallery-special {
 padding: 10em 0;   
}

.art-layout {
 display: flex;
display: -webkit-flex;
align-items: center;
-webkit-align-items: center;
/*
justify-content: space-between;
-webkit-justify-content: space-between;
*/
justify-content: center;
-webkit-justify-content: center;
    -webkit-flex-direction: column; /* Safari 6.1+ */
flex-direction: column;

}

.quilt, .kieki {
   margin: 1em 0;
max-width: 300px;
}



.art-layout h4 {
 font-size: 1.25em;
    margin: 0;
    text-align: center;
    font-weight: 300;
}

.center {
justify-content: center;
    -webkit-justify-content: center;
}



/*////////////////////////////////////////////// 
Landing Page Slideshow Styling and Images
///////////////////////////////////////////////*/

.cb-slideshow,
.cb-slideshow:after { 
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
}

ul {
list-style: none;     
}


.cb-slideshow li span { 
width: 100%;
height: 100%;
/*position: absolute;*/
position: absolute;
top: 0px;
left: 0px;
color: transparent;
background-size: cover;
background-position: 50% 50%;
background-repeat: none;
opacity: 0;
z-index: 0;
-webkit-backface-visibility: hidden;
-webkit-animation: imageAnimation 36s linear infinite 0s;
-moz-animation: imageAnimation 36s linear infinite 0s;
-o-animation: imageAnimation 36s linear infinite 0s;
-ms-animation: imageAnimation 36s linear infinite 0s;
animation: imageAnimation 36s linear infinite 0s; 
}

/* Opening Slideshow Images and Delay settings */

.cb-slideshow li:nth-child(1) span { 
background-image: url(../images/Study%20in%20Red.jpg);
  
}
.cb-slideshow li:nth-child(2) span { 
background-image: url(../images/image3.jpg);
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
-o-animation-delay: 4s;
-ms-animation-delay: 4s;
animation-delay: 4s; 
}

.cb-slideshow li:nth-child(3) span { 
background-image: url(../images/nude.jpg);
-webkit-animation-delay: 10s;
-moz-animation-delay: 10s;
-o-animation-delay: 10s;
-ms-animation-delay: 10s;
animation-delay: 10s; 
}

.cb-slideshow li:nth-child(4) span { 
background-image: url(../images/SubmarineDDS.jpg);
-webkit-animation-delay: 16s;
-moz-animation-delay: 16s;
-o-animation-delay: 16s;
-ms-animation-delay: 16s;
animation-delay: 16s; 
}

.cb-slideshow li:nth-child(5) span { 
background-image: url(../images/image1.jpg);
-webkit-animation-delay: 22s;
-moz-animation-delay: 22s;
-o-animation-delay: 22s;
-ms-animation-delay: 22s;
animation-delay: 22s; 
}

.cb-slideshow li:nth-child(6) span { 
background-image: url(../images/CloudStudy.jpg);
-webkit-animation-delay: 28s;
-moz-animation-delay: 28s;
-o-animation-delay: 28s;
-ms-animation-delay: 28s;
animation-delay: 28s; 
}


/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation { 
0% { opacity: 0;
-webkit-animation-timing-function: ease-in; }
8% { opacity: 1;
-webkit-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
0% { opacity: 0;
-moz-animation-timing-function: ease-in; }
8% { opacity: 1;
-moz-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
0% { opacity: 0;
-o-animation-timing-function: ease-in; }
8% { opacity: 1;
-o-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
0% { opacity: 0;
-ms-animation-timing-function: ease-in; }
8% { opacity: 1;
-ms-animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@keyframes imageAnimation { 
0% { opacity: 0;
animation-timing-function: ease-in; }
8% { opacity: 1;
animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

/* Animation for the title */
/*

@-webkit-keyframes titleAnimation { 
0% { opacity: 0 }
8% { opacity: 1 }
17% { opacity: 1 }
19% { opacity: 0 }
100% { opacity: 0 }
}

@-moz-keyframes titleAnimation { 
0% { opacity: 0 }
8% { opacity: 1 }
17% { opacity: 1 }
19% { opacity: 0 }
100% { opacity: 0 }
}

@-o-keyframes titleAnimation { 
0% { opacity: 0 }
8% { opacity: 1 }
17% { opacity: 1 }
19% { opacity: 0 }
100% { opacity: 0 }
}

@-ms-keyframes titleAnimation { 
0% { opacity: 0 }
8% { opacity: 1 }
17% { opacity: 1 }
19% { opacity: 0 }
100% { opacity: 0 }
}

@keyframes titleAnimation { 
0% { opacity: 0 }
8% { opacity: 1 }
17% { opacity: 1 }
19% { opacity: 0 }
100% { opacity: 0 }
}

*/


.no-cssanimations .cb-slideshow li span{
opacity: 1;
}

/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

TABLET VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 700px) {
        
    
    /*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/

.gallery {
   padding: 8em 0; 
    max-width: 900px;
}

.quilt {
 margin: 1em 5px;
    width: 33.3333333%;
    max-width: 200px;
}
    
.kieki {
 margin: 1em 5px;
    width: 50%;
    max-width: 300px;
    
}

.art-layout {
-webkit-flex-direction: row; /* Safari 6.1+ */
flex-direction: row;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
    
}



/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

DESKTOP VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
/*////////////////////////////////////////////// 
Navigation
///////////////////////////////////////////////*/
    
    
/*
    #work {
margin-top: 
    120vh;
}
*/

    
.top-nav {
    position: fixed;
background: white;
/*     margin-top: -875px;*/
}
    
/*  SAFARI TOP_NAV Margin FIX   */

/*
    _::-webkit-full-page-media, _:future, :root .safari_only {
margin-top: -900px;
}
*/
    
/*  Firefox TOP_NAV Margin FIX   */
    
@-moz-document url-prefix() { 
  .top-nav {
   margin-top: -867px;
  }
}
    
_:-o-prefocus, body:last-child .top-nav {
margin-top: -900px;}
    
       
    
nav.sticky {
background: hsla(360, 100%, 100%, .75);  
}
    
.drop-nav {
background: hsla(360, 100%, 100%, .5);  
}
    
    .cb-slideshow { 

top: 30px;
}
    
#arrow, #contact {
height: 30px;
width: 30px;
    margin-top: 5px;
}
    
    .dropdown:hover > .drop-nav {
margin-top: 3px;

}
    .drop-nav {
    margin-left: -.75em;
    }
    
    

/*////////////////////////////////////////////// 
Opening Work Section
///////////////////////////////////////////////*/
header {
/* padding-top: 2.5em;   */
/*    padding-top: 6em*/
}
header h1 {
    font-size: 6em;
  font-weight: 200;
line-height: 0;
 
}

    
#clickMe {
margin: auto;
}
    
.mask {
 margin: 6em auto;   
}
    
  
/*//////////////////////////////////////////////
////////////////////////////////////////////////

SECTION BREAK _ IMAGES

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.cover {
    padding: 10em 0;
    }
/*
    
 .cover-image {
display: inherit;
margin: 0 auto;
width: 100%;
height: 90vh;
padding: 0;
    }
    
    
    #cover1 {
     background: url(../images/CloudStudy.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}
    
        
    #cover2 {
     background: url(../images/image2.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}
    
*/

    
    .space-b {
justify-content: center;
    -webkit-justify-content: center;
}


    
        /*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/

.gallery {
   padding: 10em 0; 
    max-width: 1250px;

}

.quilt {
margin: 1em 3em;
/*width: 33.3333333%;*/
max-width: 275px;
}
    
    
.parasol {
margin: 1em 8em;
/*width: 33.3333333%;*/
max-width: 275px;
}
    
.quilt-small {
  margin: 0;
max-width: 175px;  
}
    
.nude {
margin: 1em 7.5em;
/*width: 33.3333333%;*/
max-width: 175px;
}

.special-p {
     max-width: 900px;   
     margin: 1em 1em 3em 1em;   
    }
    
.special-p2 {
     max-width: 700px;   
     margin: 1em 10em 3em 10em;   
    }
    
    .special-p3 {
     max-width: 700px;   
   margin: 6em 10em 3em 10em;  
    }

  
    .special-p4 {
     max-width: 400px;   
     
    }   

    
.top {
 margin-top: 6em;   
}
    
.kieki {
 margin: 1em 1em;
    width: 50%;
    max-width: 300px;
    
}
    
.kieki-w {
 display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
 
}
    
    
    .gallery-intro {
    
     display: flex;
display: -webkit-flex;
align-items: flex-start;
justify-content: space-between;
-webkit-justify-content: space-between;
    }
    
    .space-around {
        
justify-content: space-around;
-webkit-justify-content: space-around;          
   
    }
    
.gallery-intro h3, .text-intro {
    margin: 0;
    width: 50%;
}
.gallery-intro h3 {
font-size: 3em; 
line-height: 1.9;
 font-weight: 400; 
}
    
.text-intro {
font-size: 1.1em;
line-height: 1.95;
margin: 0 auto;
max-width: 600px;
    padding: 0;
  font-weight: 300;
}
    
.contact {
    width: 50%;
 max-width: 625px;
    padding: 0;

}
    
.contact p {
font-size: 1.5em;
line-height: 2;
}
    
    .contact a:hover  {
border-bottom: 2px solid black;   
}
    
    

}
