

/*////////////////////////////////////////////// 
Type, Color, General Styling 
///////////////////////////////////////////////*/

* {

box-sizing: border-box;
/*    border: 1px solid red;*/
    font-family: 'Whitney SSm A', 'Whitney SSm B';
/*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
 
img{
 width: 100%;   
}

.first::first-line {
 font-weight: bold; 
    color: black;
}


footer {
padding: 3px;
text-align: center;
font-size: .7em;
color: grey;
}

.dollar {
font-size: .65em;   
vertical-align: super;
}

.each {
font-size: .65em;
}
/*

#work {
margin-top: 105vh;  
}
*/

.text-intro {
font-size: 1.1em;
line-height: 1.65;
    
}

a.fancybox img:hover {
    
 cursor: url(../images/zoom.png), auto;   
}



.small-caps {
font-variant: small-caps; 
}

/*
.italics {
color: grey; 
}
*/



/*////////////////////////////////////////////// 
Navigation and Links Styling
///////////////////////////////////////////////*/


.top-nav {

width: 100%;
z-index: 5000;
  background: hsla(360, 100%, 100%, .9); 
/*     margin-top: -838px;*/
}

.top-list {
display: -webkit-flex;
display: flex;
width: 95%;
align-items: center;
-webkit-align-items: center;
margin: 0 auto;


}

.top-list li {
 margin: 0 .75em;

}


.top-list li:first-child {  
padding: .5em 0px;
margin-left: -1.75em;
margin-right: auto;
}


#arrow, #contact {
height: 20px;
width: 20px;
margin: 0;
    padding: 0;
}



a {
text-decoration: none;  
color: black;  
}

.intro-title {
font-size: 1.5em; 
     font-weight: 400;
}

/*DROP DOWN MENU*/

.dropdown {
position: relative;
}
.drop-nav {
position: absolute;
display: none;
background: white;
padding: 2px 0;
margin-left: -3.5em;
width: 8.5em;
border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.drop-nav li:first-child {
margin-right: auto;  
padding: 0px;
margin-left: 0;

}


.drop-nav li {
margin: 10px 0 10px 10px;
    text-align: left;
}

.dropdown:hover > .drop-nav {
margin-top: 1px;
border-top-left-radius: 0px;
display:block;
z-index: 3000;
}

.top-nav li a:hover  {
border-bottom: 1px solid black;   
}

.desktop-only {
 display: none;
    
}

/*////////////////////////////////////////////// 
Opening Work Section
///////////////////////////////////////////////*/

#intro-cover {
margin: 0;
width: 100%;
height: 100vh;
background: url(../images/Study%20in%20Red.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}


header {
 padding: 0;   
}


.mask { 
height: 1px; 
margin: 2.5em auto;
width:75%; 
border-radius: 1px;
border-bottom: 1px solid #BCBCBC;
}

#clickMe {
width: 90%;
max-width: 700px;
margin: 1em auto;
cursor: url(../images/right-arrow-white.png), auto;
}



/*////////////////////////////////////////////// 
Layout - Sections, Articles, Gallery
///////////////////////////////////////////////*/

/*//////////////////////////////////////////////
////////////////////////////////////////////////

SECTION BREAK _ IMAGES

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.cover {
margin: 0 auto;
width: 100%;
background: #FCFCFC;
padding: 5em 0;
    }
    

.image-b, .cover-description {
 width: 90%;   
max-width: 800px;

}




.cover-description {
 margin: 0 auto;   
}

.image-b {
margin: 0 auto -1.5em auto;  
}


.art-email {
width: 1.35em;
height: 1.35em;
vertical-align: middle;
margin: 0;
margin-right: 6px;
    display: inline;
/*
display: inline-flex;
display: -webkit-inline-flex
align-self: baseline;
-webkit-align-self: baseline;
*/
}

.social {
    margin: 0 6px;
}

.s-fix {
 margin-right: 0;   
}


.flex-d, .email-title {
display: flex;
display: -webkit-flex;
align-items: center;
-webkit-align-items: center;
justify-content: space-between;
-webkit-justify-content: space-between;
}


.flex-d h4, h5 {

    margin: 0;
    font-weight: 300;
}

.flex-d h4
{
  font-size: 1.5em;   
}

h5
{
  font-size: 1.15em;   
}


.price, .price2 {


    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.price {
 font-size: 1.5em; 
    margin-top: .85em;
    
}

.price2 {
 font-size: 1.15em; 
    margin-top: .95em;
    
}

.number {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.price-d {
font-size: 1.5em; 
font-weight: 200;
text-align: center;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.description {
width: 100%;
max-width: 405px; 
margin: -2.25em 0 -.5em 0;
padding: 0;
color: grey;
font-size: 1em;
font-weight: 300;
}

.description2 {
width: 90%;
max-width: 405px; 
margin: 0 auto;
padding: 0;
color: grey;
font-size: 1em; 
    font-weight: 300;
}

.email-price {
 font-size: .9em;
    font-style: italic;
    display: -webkit-inline-flex;
display: inline-flex;
    vertical-align: middle;
    color: grey;

    margin: .1em;
    text-align: center;
}

/*
.georgia {
font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;

}
*/

.flex-d a:hover  {
border-bottom: 1px solid grey;   
}

/*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.gallery {
    margin: 0 auto;
padding: 5em 0;
width: 90%;
max-width: 1250px;
}

.gallery-intro {
 margin: 0 auto 0 auto;
    width: 90%;
    max-width: 1250px;
}


.art-layout {
 display: flex;
display: -webkit-flex;
align-items: center;
-webkit-align-items: center;
/*
justify-content: space-between;
-webkit-justify-content: space-between;
*/
justify-content: center;
-webkit-justify-content: center;
    -webkit-flex-direction: column; /* Safari 6.1+ */
flex-direction: column;

}

.quilt, .kieki {
   margin: 1em 0;
max-width: 300px;
}



.art-layout h4 {
 font-size: 1.15em;
    margin: 0;
    text-align: center;
    font-weight: 300;
/*    font-variant: small-caps;*/
    line-height: .85;
}

.center {
justify-content: center;
    -webkit-justify-content: center;
}



/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

TABLET VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 700px) {
        
    
    /*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/

.gallery {
   padding: 6em 0; 
    max-width: 900px;
}

.quilt {
 margin: 1em 5px;
    width: 33.3333333%;
    max-width: 200px;
}
    
.kieki {
 margin: 1em 5px;
    width: 50%;
    max-width: 300px;
    
}
    
    
    .special-p4 {
     max-width: 400px;   
     
    } 

.art-layout {
-webkit-flex-direction: row; /* Safari 6.1+ */
flex-direction: row;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
    
    
    #parasol-w, #chevron-w {
max-width: 400px;   
margin: 0 auto; 
    }

    
}



/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

DESKTOP VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
/*////////////////////////////////////////////// 
Navigation
///////////////////////////////////////////////*/
    
  
.top-nav {
    position: fixed;
background: white;
/*     margin-top: -875px;*/
}
    
nav.sticky {
background: hsla(360, 100%, 100%, .75);  
}
    
.drop-nav {
background: hsla(360, 100%, 100%, .5);  
}
    
    .cb-slideshow { 

top: 30px;
}
    

    
    .dropdown:hover > .drop-nav {
margin-top: 1em;

}
    .drop-nav {
    margin-left: -3em;
       
    }
  #arrow, #contact, .mobile-only {
display: none;
}
    
.desktop-only {
 display: inherit;
    
}
    

/*////////////////////////////////////////////// 
Opening Work Section
///////////////////////////////////////////////*/

    
.mask {
 margin: 6em auto;   
}
    
  
/*//////////////////////////////////////////////
////////////////////////////////////////////////

SECTION BREAK _ IMAGES

/////////////////////////////////////////////////
///////////////////////////////////////////////*/


.cover {
    padding: 10em 0;
    }


    
    .center {
justify-content: center;
    -webkit-justify-content: center;
}

    
    
    .space-b {
justify-content: space-between;
    -webkit-justify-content: space-between;
}

    
        /*//////////////////////////////////////////////
////////////////////////////////////////////////

Gallery Styling - General

/////////////////////////////////////////////////
///////////////////////////////////////////////*/

.gallery {
   padding: 10em 0; 
    max-width: 1250px;

}
    
   
.gallery-intro {
    
display: flex;
display: -webkit-flex;
align-items: flex-start;
/*
justify-content: space-between;
-webkit-justify-content: space-between;
*/
    }
    
.space-around {
justify-content: space-around;
-webkit-justify-content: space-around;          
   
    }
    
.gallery-intro h3, .text-intro {
    margin: 0;
    width: 50%;
}
.gallery-intro h3 {
font-size: 3em; 
line-height: 1.9;
 font-weight: 400; 
}
    
.text-intro {
font-size: 1.1em;
line-height: 2;
margin: 0 auto;
max-width: 650px;
    padding: 0;
  font-weight: 300;
}
    
  
/* Parasol Styling ////////////*/ 
    
    
#parasol-w {
max-width: 800px;   
margin: 0 auto; 
    }
    
.parasol {
margin: 3em 0;
/*width: 33.3333333%;*/
max-width: 375px;
}
    
.parasol-large {
margin: 3em 0;
width: 100%;
max-width: 375px;
}
    
.special-p {
width: 100%;
margin: 0 0 3em 0;
}
    
    .bottom {
      margin-bottom: 3em;
    }
    
    .top-close {
     margin-top: -1.35em;
         width: 100%; 
    }
.width-fix {
      width: 100%; 
}
    
 
    
    
    
/* Chevron Styling ////////////*/ 
    
    
#chevron-w {
 max-width: 800px;
    margin: 0 auto;
}
      
.fifty {
width: 50%;
margin: 3em 0;
max-width: 352px;
    }
    
.thirty {
width: 33.3333333%;
max-width: 170px;
margin: 3em 0;
}
    
#chevron-w {
max-width: 800px;
margin: 0 auto;
}


    
.special-p2, .special-p3, .special-p5 {
width: 100%;   
}
    
.special-p2 {
margin: 0 0 3em 0;    
}
    
.special-p3 {
margin: 3em 0;  
}
    
.special-p5 {
margin: 3em 0 0 0;    
    }

  

/* Quilt Styling ////////////*/ 
    
    
.quilt {
margin: 1em 3em;
/*width: 33.3333333%;*/
max-width: 275px;
}
    
.quilt-small {
  margin: 0;
max-width: 175px;  
}

/* Kieki Styling ////////////*/
    
.kieki {
margin: 1em 1em;
width: 50%;
max-width: 300px;
}

    
 
.contact {
    width: 50%;
 max-width: 625px;
    padding: 0;

}
    
.contact p {
font-size: 1.5em;
line-height: 2;
}
    
    .contact a:hover  {
border-bottom: 2px solid black;   
}
    
    

}
